.serve-header {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: teal;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
}
.serve-sub {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #222;
  font-family: "Cardo", serif;
  font-weight: 400;
  text-align: center;
}
.serve-img {
  width: 3.7rem;
  height: auto;
  margin-top: 50px;
}
.serve-data {
  width: 11rem;
  height: auto;
  margin-top: 50px;
  box-shadow: 0 18px 25px -20px rgba(0, 0, 0, 0.8);
}

.serve-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  border: none;
  background-color: #6fffdb32;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.377);
  transition: transform 0.3s ease;
  margin-left: 50px;
  height: 18rem;
}
.card-title1 {
  font-size: 1.5rem !important;
  margin-top: 1rem 0 !important;
  margin-bottom: 1rem !important;
  color: #222;
  font-family: "Alice", serif;
  font-weight: 400;
  text-align: center;
}
.card-para {
  font-size: 1rem;
  margin: 1.8rem 1rem 0.5rem 1rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}
.serve-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  width: 100vw;
  margin-top: 50px;
  margin-left: -35px;
}
.serve-spacer {
  width: 100 vw;
  height: auto;
  margin-right: 100px;
}
@media (max-width: 768px) {
  .serve-header {
    margin-top: 50px;
    white-space: nowrap;
    margin-left: 110px;
    font-size: 0.9rem;
  }
  .serve-card1 {
    margin-left: 70px;
    margin-bottom: 70px;
  }
  .serve-sub {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    margin-left: 70px !important;
    padding: 0;
    margin-left: 0;
    white-space: nowrap;
  }
}
