.serve-header {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: teal;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
}
.serve-sub {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #222;
  font-family: "Alice", serif;
  font-weight: 400;
  text-align: center;
}
.serve-img {
  width: 3rem;
  height: 3rem;
  margin-top: 30px;
}
.serve-data {
  width: 8rem;
  height: 5rem;
  margin-top: 10px;
}

.serve-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 14rem;
  border: none;
  background-color: #6fffdb32;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-left: 100px;
  height: 15rem;
  margin-bottom: 10px;
}
.card-title {
  font-size: 1.2rem;
  margin: 1.4rem 0;
  color: #222;
  font-family: "Alice", serif;
  font-weight: 400;
  text-align: center;
}
.card-para {
  font-size: 0.8rem;
  margin: 2rem 1rem 0.5rem 1rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}
.serve-cards {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .serve-header {
    margin-top: 50px;
  }
  .serve-card1 {
    margin-left: 0px;
  }
}
