.hero-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* left align content */
  justify-content: center;
  gap: 1rem; /* spacing between header and para */
  width: 100%;
  max-width: 100vw;
  background: linear-gradient(rgba(6, 6, 6, 0.605), rgba(0, 0, 0, 0.605)),
    url("../../virtual pics/hero.png");
  height: auto;
  margin: 0;
  padding: 0;
}
.hero-image > * {
  flex: 0 0 100%;
}
.header {
  color: white;
  font-size: 3rem;
  font-family: "Cardo", serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  padding: 0;
  margin-top: 200px;
  text-align: center !important;
  justify-content: center;
  width: 100vw;
  max-width: 100vw; /* limit line-length */
  letter-spacing: 600ms;
}
.btn-work {
  margin-left: 400px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0 !important;
}
.para {
  color: white;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1.6; /* optional spacing between lines */
  gap: calc(1rem);
  margin-left: 50px;
  max-width: 720px; /* limit line-length */
  text-align: center !important;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 100vw;
  margin-top: 10px;
}
.btn-work-with-us {
  margin-left: 50px;
  margin-top: 0px;
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  height: 50px;
  border-radius: 10px;
  background-color: teal;
  width: 200px;
  transition: background-color 0.3s ease #021c1c;
  align-items: center;
  justify-content: center;
}
.btn-work-with-us:hover {
  background-color: #042c2c;
}
.btn-about {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  width: 200px;
  color: white;
  margin-left: 17px;
  margin-bottom: 70px !important;
}
.logoss {
  width: 6rem !important;
  height: auto !important;
  margin: 0 5px !important;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .hero-image {
    width: 100%; /* fill horizontal space */
    height: auto; /* optional, depends on your layout */
    min-height: 100vh; /* full screen height */
    background-size: cover;
    background-position: center;
  }
  .header {
    font-size: 1.3rem;
    margin-left: 0;
    margin-top: 140px;
    margin-left: 30px;
    margin-bottom: 4px;
    text-align: left !important;
    width: 90vw;
  }
  .para {
    font-size: 0.6rem;
    text-align: left !important;
    margin-left: 30px;
    max-width: 90%; /* limit line-length */
    margin-top: 10px !important;
  }
  .btn-about {
    margin: 10px;
    margin-bottom: 30px !important;
    width: 135px;
    height: 40px;
    margin-left: 47px;
  }
  .btn-work-with-us {
    margin-left: 40px;
    margin-top: 10px;
    width: 150px !important;
    height: 45px;
  }
  .btn-work {
    margin-left: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 10px !important;
  }
  .logos {
    width: 6rem !important;
    height: auto !important;
    margin: 0 5px 0 18px !important;
    justify-content: center;
    align-items: center;
  }
  .logoss {
    width: 3.5rem !important;
    height: auto !important;
    margin: 0 5px 0 14px !important;
    justify-content: center;
    align-items: center;
  }
  .header3 {
    color: black;
    font-size: 1rem !important;
    font-family: "Alice", serif;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .trusted-by-section::after {
    width: 100vw;
  }
}
.trusted-by-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.trusted-by-section::after {
  content: "";
  margin-top: 30px;
  width: 100%;
  height: 20px; /* height of the shadow */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.187), transparent);
  pointer-events: none;
}

.logos {
  width: auto;
  height: 40px;
  margin: 0 15px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.header3 {
  color: black;
  font-size: 1.5rem;
  font-family: "Alice", serif;
  font-weight: 600;
  margin-bottom: 30px;
}
