.hero-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* left align content */
  justify-content: center;
  gap: 1rem; /* spacing between header and para */
  width: 100%;
  max-width: 100vw;
  background: linear-gradient(rgba(6, 6, 6, 0.605), rgba(0, 0, 0, 0.605)),
    url("../../virtual pics/hero.png");
  height: auto;
  margin: 0;
  padding: 0;
}
.hero-image > * {
  flex: 0 0 100%;
}
.header {
  color: white;
  font-size: 2rem;
  font-family: "Alice", serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  padding: 0;
  line-height: 1.4; /* optional spacing between lines */
  margin-top: 100px;
  margin-left: 50px;
}
.para {
  color: white;
  font-size: 11px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1.6; /* optional spacing between lines */
  margin-top: -30px; /* or remove margin and rely on gap */
  margin-left: 50px;
  max-width: 720px; /* limit line-length */
}
.btn-work {
  margin-left: 50px;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  height: 50px;
  border-radius: 10px;
  background-color: teal;
  width: 200px;
  transition: background-color 0.3s ease #021c1c;
}
.btn-about {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  width: 200px;
  color: white;
  margin: 50px;
  margin-bottom: 100px !important;
}
@media (max-width: 768px) {
  .hero-image {
    width: 100%; /* fill horizontal space */
    height: auto; /* optional, depends on your layout */
    min-height: 100vh; /* full screen height */
    background-size: cover;
    background-position: center;
  }
}
