.aboutimg {
  width: 100%;
  max-width: 29rem; /* desktop cap */
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}
.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 50px;
}
.about-spacer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px;
}
.about-title {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: teal;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.about-right {
  flex: 1 1 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

  .about-left {
  flex: 1 1 100%; 
  max-width: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-sub {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #222;
  font-family: "Alice", sans-serif;
  font-weight: 600;
}
.first-para {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.about-desc {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.btn-work2 {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  height: 50px;
  border-radius: 10px;
  background-color: teal;
  width: 200px;
  transition: background-color 0.3s ease #021c1c;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .btn-work2 {
    width: 150px;
    height: auto;
  }
  .about-spacer {
    flex-direction: column;
    gap: 1.5rem;
    padding: 30px 10px;
    align-items: center;
  }
  .aboutimg {
    max-width: 17rem;
    width: 80%;
    margin-top: 20px;
  }
  .about-right {
    margin-left: 0;
    margin-top: 20px !important;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    flex: 1 1 100%; /* allow both to take full width on mobile */
    min-width: 0; /* prevents overflow */
    width: 100%;
  }
  .about-title {
    font-size: 1rem;
    text-align: center;
  }
  .about-left {
    flex: 1 1 100%; /* allow both to take full width on mobile */
    min-width: 0; /* prevents overflow */
    width: 100%;
  }
}
