.body {
  background: white !important;
  margin: 0;
}
:root {
  --font-sans: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;

  --font-serif: "Alice", Georgia, serif;

  --color-text-primary: #0b1020;
  --color-text-muted: #6b7280;
}
html {
  font-size: 16px !important;
}
